*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100dvh;
    gap: 10px;
    
}

.card {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.256);
    border-radius: 20px;
    padding: 20px;
    width: 250px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 29px;

    & img{
        margin: auto;
        width: 100%;
    }
    & #poison{
        background: #afdfe6;
        padding: 6px 16px;
        border-radius: 100px;

    }

    & .conteiner{
        display: flex;
        align-items: center;
        justify-content: space-between;

        & .titulo{

            & h1 {
                font-size: 24px;
            }

            & p {
                color: #df0606;
            }
        }

    }
}

    & #btn{
        width: 250px;
        background-color: rgb(71, 13, 230);
        border: 1px solid rgb(55, 1, 68);
        padding: 5px;
        cursor: pointer;
        border-radius: 6px;
        
    }

    & #btn:hover{
        background-color: aliceblue;
    }

    .colorGrass{
        background: rgb(41, 68, 0);
    }